.AdminLayout-container {
    display: flex;
    flex-direction: row;
}

.AdminLayout-container * {
    text-decoration: none;
}

.AdminLayout-container main{
    display: flex;
    flex-direction: column;
    margin-left: 250px; 
    flex-grow: 1;
    background: rgb(240, 240, 240);
    padding-bottom: 200px;
    min-height: 100vh;
}