.AdminUserRow {
  transition: all 0.4s ease;
}
  .AdminUserRow:hover {
  box-shadow: inset 0 0 35px hsl(0, 0%, 64%);
  z-index: 10;
}


.AdminUserRow td {
  padding: 0 20px 0 20px;
}

.AdminUserRow #index {
  background: hsl(0, 0%, 90%);
  padding: 0;
}

.AdminUserRow #user span {
  display:flex;
  justify-content: start;
  align-items: center;
}





.AdminUserRow #actions  button{
  padding: 15px;

  border-radius: 10px;
  border: none;
  background: hsl(204, 100%, 47%);
  
  color: white;
  font-weight: bold;
  
  cursor: pointer;
}
