.ManageProducts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}





#ManageProducts-header {
  margin: 50px;
  background: hsl(88, 60%, 65%);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  font-size: 1.5rem;
  box-sizing: border-box;
}

#ManageProducts-header h2 {
  margin: 10px;
}






.ManageProducts-table-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.ManageProducts-table-container header {
  font-size: 2.5rem;
  font-weight: bold;
}


.ManageProducts-table-container .ManageProducts-paging  {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.ManageProducts-table-container .ManageProducts-paging  span {
  margin: 10px;
}

.ManageProducts-table-container .ManageProducts-paging  button {
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 70%);
  transition: all 0.4s ease;
}

.ManageProducts-table-container .ManageProducts-paging  button:hover:not(:disabled) {
  background: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 50%);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
}

.ManageProducts-table-container .ManageProducts-paging  button:active {
  background: hsl(0, 0%, 90%);
}

.ManageProducts-table-container .ManageProducts-paging button:disabled{
  background: hsl(0, 0%, 87%);
  border: none;
}






.ManageProducts-table-container table {
  margin-top: 12px;
  background: hsl(88, 50%, 80%);
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
  border: 6px solid grey;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.ManageProducts-table-container table th:last-child,
.ManageProducts-table-container table td:last-child {
  border-right: none;
}

.ManageProducts-table-container table tr:last-child td {
  border-bottom: none;
}


.ManageProducts-table-container table th,
.ManageProducts-table-container table td {
  text-align: center;
}


.ManageProducts-table-container table th {
  height: 3rem;
  border-right: 1px solid hsl(88, 50%, 75%) ;
  background: hsl(88, 50%, 85%);
}

.ManageProducts-table-container table td {
  border-bottom: 2px solid hsl(88, 50%, 80%) ;
  height: 5rem;
}

.ManageProducts-table-container table .index {
  background: hsl(88, 35%, 75%);
  width: 30px;
}

/* Alternate light and dark shade between each row */
.ManageProducts-table-container table tbody tr {
    background-color: hsl(0, 0%, 100%); 
}
.ManageProducts-table-container table tbody tr:nth-child(even) {
    background-color: hsl(0, 0%, 95%); 
}






/* Overlay on top of app for when ProducForm is active */
#ProductForm-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}





/* Add product button */
#add-product {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 11rem;
  height: 4rem;
  z-index: 100;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  background: rgb(0, 172, 0);
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
#add-product:hover {
  background: rgb(0, 159, 0);
}
#add-product:active {
  background: rgb(0, 139, 0);
}

#add-product * {
  color: white;
}